<a href="https://colab.research.google.com/github/akoo-45/ML-hw5-hiring-decision/blob/master/hw5_code_hk2827_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount GDrive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os 
os.chdir('/content')
data_path = "gdrive/My Drive/ML/HW5"
os.chdir(data_path)

In [3]:
# Encoding categorical variables
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 5.5MB/s
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.2.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [89]:
# Download Dependencies 
import pandas as pd
import numpy as np
from sklearn import datasets # SKLearn, golden stardard for ML with python
from sklearn import linear_model

# Reading three CSV files 
train_df = pd.read_csv('hw5-trainingset-hk2827.csv')
train_df = pd.read_csv('hw5-testset-hk2827.csv')
cook_df = pd.read_csv('CodeBook-SELECT.csv')

Y = train_df.loc[:, 'job_performance']

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (50,53,54,55,56,256,257,258,268,376) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (50,255,256,257,258,260,268) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
# Preprocessing traian_set

# (1)
# drop overtly useless features
train_df.drop(['cntryid_e','job_performance','row', 'uni'], axis=1, inplace= True) 
# drop subtly useless features 
# writing skills in daily life
train_df.drop(['v253', 'v132', 'v284', 'v260', 'v26', 'v186', 'v162'], axis=1, inplace=True) 
# 380 - 11 = 369
print(train_df.shape)

(20000, 369)

In [47]:
# (2) drop sparse features 
# Borrowed from Stack Overflow QID: 26266362
def missing_values_table(df):
  mis_val = df.isnull().sum()
  mis_val_percent = 100 * df.isnull().sum() / len(df)
  mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
  mis_val_table_ren_columns = mis_val_table.rename(
  columns = {0 : 'Missing Values', 1 : '% of Total Values'})
  mis_val_table_ren_columns = mis_val_table_ren_columns[
      mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
  '% of Total Values', ascending=False).round(1)
  print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
      "There are " + str(mis_val_table_ren_columns.shape[0]) +
        " columns that have missing values.")
  return mis_val_table_ren_columns

return_t = missing_values_table(train_df)
return_t = return_t.loc[return_t['% of Total Values'] > 50.0]
return_t.head()
index_list = return_t.index.tolist() 
print(len(index_list))

train_df.drop(index_list, axis=1, inplace=True)
# 369 - 159 = 210
print(train_df.shape)

Your selected dataframe has 369 columns.
There are 355 columns that have missing values.
159
(20000, 210)

In [48]:
print(train_df)

                  cntryid  age_r gender_r  ...    v224     v71    v105
0                 Germany    NaN     Male  ...  9999.0  9996.0  9999.0
1          United Kingdom   35.0     Male  ...  9996.0  7110.0  9996.0
2           United States    NaN     Male  ...  9996.0  9999.0  9996.0
3                 Germany    NaN     Male  ...  9996.0  9999.0  9996.0
4                  France   32.0   Female  ...  5230.0  9996.0  4711.0
5           United States    NaN   Female  ...  9996.0  9999.0  9996.0
6                  Poland   36.0     Male  ...  9996.0  2512.0  9996.0
7                 Germany    NaN     Male  ...  9996.0  9999.0  9996.0
8          United Kingdom   40.0     Male  ...  9996.0  5819.0  9996.0
9                   Italy   38.0     Male  ...  9996.0  2220.0  9996.0
10                  Japan   40.0     Male  ...  9996.0  2610.0  9996.0
11          United States    NaN     Male  ...  9996.0  9999.0  9996.0
12                  Japan   43.0   Female  ...  9996.0  9996.0  9996.0
13     Russian Federation   53.0     Male  ...  9996.0  4321.0  9996.0
14                Denmark   56.0   Female  ...  9996.0  9420.0  9996.0
15                 Sweden   22.0     Male  ...  9999.0  9996.0  9999.0
16          United States    NaN     Male  ...  9996.0  9999.0  9996.0
17                  Japan   65.0     Male  ...  4110.0  9996.0  8412.0
18                  Japan   45.0     Male  ...  9996.0  8610.0  9996.0
19                Germany    NaN   Female  ...  9996.0  9999.0  9996.0
20          United States    NaN   Female  ...  9996.0  9999.0  9996.0
21                 Turkey   31.0     Male  ...  9996.0   852.0  9996.0
22          United States    NaN   Female  ...  9996.0  9999.0  9996.0
23          United States    NaN   Female  ...  9996.0  9999.0  9996.0
24                  Korea   37.0   Female  ...  9996.0  9996.0  9996.0
25                  Japan   22.0   Female  ...  9629.0  9996.0  9311.0
26                  Chile   32.0     Male  ...  9996.0  8411.0  9996.0
27                 Israel   26.0     Male  ...  2652.0  9996.0  9000.0
28          United States    NaN   Female  ...  9996.0  9999.0  9996.0
29                 Poland   22.0   Female  ...  9996.0  4711.0  9996.0
...                   ...    ...      ...  ...     ...     ...     ...
19970               Spain   43.0     Male  ...  9996.0  5610.0  9996.0
19971               Spain   30.0   Female  ...  9996.0  8610.0  9996.0
19972       United States    NaN   Female  ...  9996.0  9996.0  9996.0
19973       United States    NaN     Male  ...  9996.0  9999.0  9996.0
19974  Russian Federation   48.0   Female  ...  9996.0  8521.0  9996.0
19975  Russian Federation   21.0   Female  ...  9996.0  9996.0  9996.0
19976       United States    NaN     Male  ...  9996.0  9999.0  9996.0
19977             Germany    NaN   Female  ...  9996.0  9999.0  9996.0
19978       United States    NaN     Male  ...  9996.0  9999.0  9996.0
19979      United Kingdom   48.0   Female  ...  9996.0  8890.0  9996.0
19980              Israel   28.0   Female  ...  9996.0  8412.0  9996.0
19981              Poland   16.0   Female  ...  9996.0  1811.0  9996.0
19982             Germany    NaN   Female  ...  9996.0  9999.0  9996.0
19983             Germany    NaN     Male  ...  9996.0  9999.0  9996.0
19984               Japan   43.0     Male  ...  9996.0  5320.0  9996.0
19985              Canada    NaN   Female  ...  9996.0  9999.0  9999.0
19986               Japan   18.0     Male  ...  9996.0  9996.0  9996.0
19987             Denmark   53.0   Female  ...  9996.0  9996.0  9996.0
19988               Chile   19.0   Female  ...  9996.0  1410.0  9996.0
19989       United States    NaN   Female  ...  9996.0  9999.0  9996.0
19990             Ireland   51.0     Male  ...  9996.0  9999.0  9996.0
19991               Japan   58.0     Male  ...  9996.0  9996.0  9996.0
19992       United States    NaN   Female  ...  9996.0  9996.0  9996.0
19993             Germany    NaN   Female  ...  9999.0  9996.0  9999.0
19994               Japan   42.0     Male  ...  9996.0  2394.0  9996.0
19995         Netherlands   31.0     Male  ...  9996.0   813.0  9996.0
19996              Poland   26.0   Female  ...  9996.0  6110.0  9996.0
19997              Canada    NaN     Male  ...  9996.0  9999.0  9999.0
19998               Japan   28.0     Male  ...  9996.0  5610.0  9996.0
19999              Poland   35.0   Female  ...  9996.0  4721.0  9996.0

[20000 rows x 210 columns]

In [49]:
# (3) Convert categorical features
train_df.dtypes

cntryid                object
age_r                 float64
gender_r               object
computerexperience     object
nativespeaker          object
edlevel3               object
monthlyincpr           object
yearlyincpr            object
lng_home               object
cnt_brth               object
reg_tl2                object
lng_bq                 object
lng_ci                 object
yrsqual               float64
yrsqual_t             float64
yrsget                float64
ctryqual               object
birthrgn               object
nativelang             object
ctryrgn                object
imyrcat                object
ageg5lfs               object
ageg10lfs              object
ageg10lfs_t            object
edcat8                 object
edcat7                 object
edcat6                 object
leavedu               float64
fe12                   object
aetpop                 object
                       ...
v218                   object
v267                   object
v171                   object
v14                    object
v7                     object
v240                   object
v149                   object
v228                   object
v28                    object
v237                   object
v280                   object
v175                   object
v288                   object
v15                    object
v208                   object
v43                    object
v27                    object
v114                   object
v191                   object
v170                   object
v65                    object
v57                    object
v177                   object
v69                    object
v85                    object
v50                    object
v239                  float64
v224                  float64
v71                   float64
v105                  float64
Length: 210, dtype: object

In [77]:
num_df = train_df.select_dtypes(exclude=['object']).copy()
obj_df = train_df.select_dtypes(include=['object']).copy()
print(num_df.shape)
print(obj_df.shape)
obj_df.head()

(20000, 32)
(20000, 178)

          cntryid gender_r  ...                         v85             v50
0         Germany     Male  ...              Strongly agree  Strongly agree
1  United Kingdom     Male  ...  Neither agree nor disagree           Agree
2   United States     Male  ...                    Disagree        Disagree
3         Germany     Male  ...              Strongly agree           Agree
4          France   Female  ...              Strongly agree  Strongly agree

[5 rows x 178 columns]

In [57]:
# impute null values for objects!
col_df = obj_df[obj_df.isnull().any(axis=1)]
col_list = list(col_df.columns) 
print(col_list)
print(len(col_list))

['cntryid', 'gender_r', 'computerexperience', 'nativespeaker', 'edlevel3', 'monthlyincpr', 'yearlyincpr', 'lng_home', 'cnt_brth', 'reg_tl2', 'lng_bq', 'lng_ci', 'ctryqual', 'birthrgn', 'nativelang', 'ctryrgn', 'imyrcat', 'ageg5lfs', 'ageg10lfs', 'ageg10lfs_t', 'edcat8', 'edcat7', 'edcat6', 'fe12', 'aetpop', 'faet12', 'faet12jr', 'faet12njr', 'nfe12', 'fnfaet12', 'edwork', 'neet', 'nopaidworkever', 'paidwork12', 'iscoskil4', 'isic1l', 'isic2l', 'isic1c', 'isic2c', 'nfe12jr', 'nfe12njr', 'fnfe12jr', 'fnfaet12jr', 'fnfaet12njr', 'paidwork5', 'earnhrdcl', 'earnhrbonusdcl', 'earnmthalldcl', 'earnflag', 'learnatwork_wle_ca', 'readytolearn_wle_ca', 'icthome_wle_ca', 'influence_wle_ca', 'planning_wle_ca', 'readhome_wle_ca', 'readwork_wle_ca', 'taskdisc_wle_ca', 'writhome_wle_ca', 'writwork_wle_ca', 'v59', 'v200', 'v31', 'v151', 'v90', 'v157', 'v74', 'v153', 'v256', 'v102', 'v101', 'v60', 'v285', 'v17', 'v94', 'v227', 'v225', 'v201', 'v205', 'v46', 'v122', 'v92', 'v88', 'v84', 'v270', 'v140', 'v53', 'v82', 'v70', 'v19', 'v48', 'v8', 'v115', 'v251', 'v261', 'v263', 'v158', 'v244', 'v198', 'v212', 'v62', 'v221', 'v214', 'v276', 'v246', 'v181', 'v96', 'v255', 'v289', 'v77', 'v123', 'v141', 'v24', 'v193', 'v275', 'v204', 'v108', 'v164', 'v166', 'v197', 'v34', 'v42', 'v292', 'v131', 'v142', 'v188', 'v139', 'v247', 'v99', 'v180', 'v124', 'v51', 'v190', 'v248', 'v229', 'v189', 'v165', 'v173', 'v134', 'v2', 'v25', 'v18', 'v216', 'v178', 'v282', 'v13', 'v233', 'v278', 'v103', 'v155', 'v152', 'v258', 'v111', 'v218', 'v267', 'v171', 'v14', 'v7', 'v240', 'v149', 'v228', 'v28', 'v237', 'v280', 'v175', 'v288', 'v15', 'v208', 'v43', 'v27', 'v114', 'v191', 'v170', 'v65', 'v57', 'v177', 'v69', 'v85', 'v50']
178

In [62]:
cols = col_list
# fill with the mode, not the mean! 
obj_df[cols]=obj_df[cols].fillna(obj_df.mode().iloc[0])
# print(obj_df)
obj_df[obj_df.isnull().any(axis=1)] 
# Imputing categorical values complete!

Empty DataFrame
Columns: [cntryid, gender_r, computerexperience, nativespeaker, edlevel3, monthlyincpr, yearlyincpr, lng_home, cnt_brth, reg_tl2, lng_bq, lng_ci, ctryqual, birthrgn, nativelang, ctryrgn, imyrcat, ageg5lfs, ageg10lfs, ageg10lfs_t, edcat8, edcat7, edcat6, fe12, aetpop, faet12, faet12jr, faet12njr, nfe12, fnfaet12, edwork, neet, nopaidworkever, paidwork12, iscoskil4, isic1l, isic2l, isic1c, isic2c, nfe12jr, nfe12njr, fnfe12jr, fnfaet12jr, fnfaet12njr, paidwork5, earnhrdcl, earnhrbonusdcl, earnmthalldcl, earnflag, learnatwork_wle_ca, readytolearn_wle_ca, icthome_wle_ca, influence_wle_ca, planning_wle_ca, readhome_wle_ca, readwork_wle_ca, taskdisc_wle_ca, writhome_wle_ca, writwork_wle_ca, v59, v200, v31, v151, v90, v157, v74, v153, v256, v102, v101, v60, v285, v17, v94, v227, v225, v201, v205, v46, v122, v92, v88, v84, v270, v140, v53, v82, v70, v19, v48, v8, v115, v251, v261, v263, v158, v244, v198, v212, v62, ...]
Index: []

[0 rows x 178 columns]

In [63]:
obj_df["cntryid"] = obj_df["cntryid"].astype('category')
obj_df.dtypes

cntryid               category
gender_r                object
computerexperience      object
nativespeaker           object
edlevel3                object
monthlyincpr            object
yearlyincpr             object
lng_home                object
cnt_brth                object
reg_tl2                 object
lng_bq                  object
lng_ci                  object
ctryqual                object
birthrgn                object
nativelang              object
ctryrgn                 object
imyrcat                 object
ageg5lfs                object
ageg10lfs               object
ageg10lfs_t             object
edcat8                  object
edcat7                  object
edcat6                  object
fe12                    object
aetpop                  object
faet12                  object
faet12jr                object
faet12njr               object
nfe12                   object
fnfaet12                object
                        ...
v155                    object
v152                    object
v258                    object
v111                    object
v218                    object
v267                    object
v171                    object
v14                     object
v7                      object
v240                    object
v149                    object
v228                    object
v28                     object
v237                    object
v280                    object
v175                    object
v288                    object
v15                     object
v208                    object
v43                     object
v27                     object
v114                    object
v191                    object
v170                    object
v65                     object
v57                     object
v177                    object
v69                     object
v85                     object
v50                     object
Length: 178, dtype: object

In [64]:
obj_df["cntryid"] = obj_df["cntryid"].cat.codes
obj_df.head()

   cntryid gender_r  ...                         v85             v50
0       10     Male  ...              Strongly agree  Strongly agree
1       29     Male  ...  Neither agree nor disagree           Agree
2       30     Male  ...                    Disagree        Disagree
3       10     Male  ...              Strongly agree           Agree
4        9   Female  ...              Strongly agree  Strongly agree

[5 rows x 178 columns]

In [75]:
# label encoding for each column that has objects
cols = col_list
obj_df[cols] = obj_df[cols].astype('category')

for i in cols:
  obj_df[i] = obj_df[i].cat.codes

print(obj_df.head())
obj_df.dtypes
final_obj_df = obj_df

   cntryid  gender_r  computerexperience  nativespeaker  ...  v177  v69  v85  v50
0       10         1                   1              0  ...     4    0    3    3
1       29         1                   1              1  ...     4    1    2    0
2       30         1                   1              1  ...     0    1    1    1
3       10         1                   1              1  ...     4    4    3    0
4        9         0                   1              1  ...     4    3    3    3

[5 rows x 178 columns]

In [0]:
# impute NaNs for the datset with integer datatype to begin with 
num_df[num_df.isnull().any(axis=1)]
# fill with the mean! 
imputed_num_df = num_df.fillna(num_df.mean())

In [84]:
imputed_num_df[imputed_num_df.isnull().any(axis=1)]
# no NaNs -- complete

Empty DataFrame
Columns: [age_r, yrsqual, yrsqual_t, yrsget, leavedu, isco1c, isco2c, isco1l, isco2l, learnatwork, readytolearn, icthome, influence, planning, readhome, readwork, taskdisc, writhome, writwork, v202, v231, v272, v52, v97, v242, v135, v235, v1, v239, v224, v71, v105]
Index: []

In [86]:
# join the two datasets
final_table = pd.concat([final_obj_df, imputed_num_df], axis=1)
print(final_table)
print(final_table.shape)

       cntryid  gender_r  computerexperience  ...    v224     v71    v105
0           10         1                   1  ...  9999.0  9996.0  9999.0
1           29         1                   1  ...  9996.0  7110.0  9996.0
2           30         1                   1  ...  9996.0  9999.0  9996.0
3           10         1                   1  ...  9996.0  9999.0  9996.0
4            9         0                   1  ...  5230.0  9996.0  4711.0
5           30         0                   1  ...  9996.0  9999.0  9996.0
6           21         1                   1  ...  9996.0  2512.0  9996.0
7           10         1                   0  ...  9996.0  9999.0  9996.0
8           29         1                   1  ...  9996.0  5819.0  9996.0
9           14         1                   1  ...  9996.0  2220.0  9996.0
10          15         1                   1  ...  9996.0  2610.0  9996.0
11          30         1                   1  ...  9996.0  9999.0  9996.0
12          15         0                   1  ...  9996.0  9996.0  9996.0
13          22         1                   0  ...  9996.0  4321.0  9996.0
14           6         0                   1  ...  9996.0  9420.0  9996.0
15          27         1                   1  ...  9999.0  9996.0  9999.0
16          30         1                   1  ...  9996.0  9999.0  9996.0
17          15         1                   1  ...  4110.0  9996.0  8412.0
18          15         1                   1  ...  9996.0  8610.0  9996.0
19          10         0                   1  ...  9996.0  9999.0  9996.0
20          30         0                   1  ...  9996.0  9999.0  9996.0
21          28         1                   1  ...  9996.0   852.0  9996.0
22          30         0                   1  ...  9996.0  9999.0  9996.0
23          30         0                   1  ...  9996.0  9999.0  9996.0
24          16         0                   1  ...  9996.0  9996.0  9996.0
25          15         0                   1  ...  9629.0  9996.0  9311.0
26           3         1                   1  ...  9996.0  8411.0  9996.0
27          13         1                   1  ...  2652.0  9996.0  9000.0
28          30         0                   1  ...  9996.0  9999.0  9996.0
29          21         0                   1  ...  9996.0  4711.0  9996.0
...        ...       ...                 ...  ...     ...     ...     ...
19970       26         1                   1  ...  9996.0  5610.0  9996.0
19971       26         0                   1  ...  9996.0  8610.0  9996.0
19972       30         0                   1  ...  9996.0  9996.0  9996.0
19973       30         1                   1  ...  9996.0  9999.0  9996.0
19974       22         0                   1  ...  9996.0  8521.0  9996.0
19975       22         0                   1  ...  9996.0  9996.0  9996.0
19976       30         1                   1  ...  9996.0  9999.0  9996.0
19977       10         0                   1  ...  9996.0  9999.0  9996.0
19978       30         1                   0  ...  9996.0  9999.0  9996.0
19979       29         0                   1  ...  9996.0  8890.0  9996.0
19980       13         0                   1  ...  9996.0  8412.0  9996.0
19981       21         0                   1  ...  9996.0  1811.0  9996.0
19982       10         0                   1  ...  9996.0  9999.0  9996.0
19983       10         1                   1  ...  9996.0  9999.0  9996.0
19984       15         1                   1  ...  9996.0  5320.0  9996.0
19985        2         0                   1  ...  9996.0  9999.0  9999.0
19986       15         1                   1  ...  9996.0  9996.0  9996.0
19987        6         0                   1  ...  9996.0  9996.0  9996.0
19988        3         0                   1  ...  9996.0  1410.0  9996.0
19989       30         0                   1  ...  9996.0  9999.0  9996.0
19990       12         1                   1  ...  9996.0  9999.0  9996.0
19991       15         1                   1  ...  9996.0  9996.0  9996.0
19992       30         0                   0  ...  9996.0  9996.0  9996.0
19993       10         0                   1  ...  9999.0  9996.0  9999.0
19994       15         1                   1  ...  9996.0  2394.0  9996.0
19995       18         1                   1  ...  9996.0   813.0  9996.0
19996       21         0                   1  ...  9996.0  6110.0  9996.0
19997        2         1                   1  ...  9996.0  9999.0  9999.0
19998       15         1                   1  ...  9996.0  5610.0  9996.0
19999       21         0                   0  ...  9996.0  4721.0  9996.0

[20000 rows x 210 columns]
(20000, 210)

In [98]:
final_table[final_table.isnull().any(axis=1)]
# impute really complete!

Empty DataFrame
Columns: [cntryid, gender_r, computerexperience, nativespeaker, edlevel3, monthlyincpr, yearlyincpr, lng_home, cnt_brth, reg_tl2, lng_bq, lng_ci, ctryqual, birthrgn, nativelang, ctryrgn, imyrcat, ageg5lfs, ageg10lfs, ageg10lfs_t, edcat8, edcat7, edcat6, fe12, aetpop, faet12, faet12jr, faet12njr, nfe12, fnfaet12, edwork, neet, nopaidworkever, paidwork12, iscoskil4, isic1l, isic2l, isic1c, isic2c, nfe12jr, nfe12njr, fnfe12jr, fnfaet12jr, fnfaet12njr, paidwork5, earnhrdcl, earnhrbonusdcl, earnmthalldcl, earnflag, learnatwork_wle_ca, readytolearn_wle_ca, icthome_wle_ca, influence_wle_ca, planning_wle_ca, readhome_wle_ca, readwork_wle_ca, taskdisc_wle_ca, writhome_wle_ca, writwork_wle_ca, v59, v200, v31, v151, v90, v157, v74, v153, v256, v102, v101, v60, v285, v17, v94, v227, v225, v201, v205, v46, v122, v92, v88, v84, v270, v140, v53, v82, v70, v19, v48, v8, v115, v251, v261, v263, v158, v244, v198, v212, v62, ...]
Index: []

[0 rows x 210 columns]

In [99]:
X = final_table
# (5) Train on 75% of data, validation 25% 
num = int(len(X)*(75/100))
# print(num)
X_train = X.head(num)
X_val = X.head(len(X)-num)
print(len(X_train))
print(len(X_val))

# get Y
Y_train = Y.head(num)
Y_val = Y.tail(len(Y)-num)
print(len(Y_train))
print(len(Y_val))

# reshape
X_train = X_train.values.reshape(-1, 1)
Y_train = Y_train.values.reshape(-1, 1)

X_val = X_val.values.reshape(-1, 1)
Y_val = Y_val.values.reshape(-1, 1)

15000
5000
15000
5000

In [100]:
# trying kernel ridge regression bc lots of parameters + reducing colinearity 
# starter code borrowed from skikit-learn documentation on SKR
from sklearn.kernel_ridge import KernelRidge
# n_samples, n_features = 20000, 210
regressor = KernelRidge(alpha=1.0)
regressor.fit(X_train, Y_train)

ValueError: ignored

In [69]:
# Dropping NaNs (change later on)
print(train_df.shape)
print(train_df.shape)
X = train_df.loc[:, 'age_r']
Y = test_df[:, 'job_performance']
print(type(X))
print(type(Y))
# X = X.values.reshape(-1, 1)
# Y = Y.values.reshape(-1, 1)
# print(type(X))
# print(type(Y))

# X = X.dropna()
# Y = Y.dropna()
# X = X.values.reshape(-1, 1)
# Y = Y.values.reshape(-1, 1)

nanArray = np.argwhere(np.isnan(X))
nanArray = nanArray[:, 0]
print(nanArray)
print(len(nanArray))

Y = Y.values.reshape(-1, 1)
print(type(Y))
for count, val in enumerate(Y):
#   print (count, val)
  if count in nanArray:
    Y[count] = 0 # instead of deleting the val, which may shift the index
    
print(len(Y))
Y = Y[Y!= 0]
print(20000-len(Y))

X = X.dropna()
X = X.values.reshape(-1, 1)
print(type(X))
print(type(Y))
print(len(X))
print(len(Y))

lm = linear_model.LinearRegression()
reg = lm.fit(X,Y)
print(reg.score(X, Y))
predictions = lm.predict(X)
print(predictions[0:10])
print(Y[0:10])

(20000, 380)
(20000, 380)
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
[    0     5     7 ... 19988 19989 19995]
5487
<class 'numpy.ndarray'>
20000
5487
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
14513
14513
0.019078110398784265
[2500.64710853 2576.48829498 2723.11458879 2596.71261137 2707.9463515
 2611.88084866 2667.49771872 2657.38556053 2515.81534582 2556.2639786 ]
[1478.76044746 2347.43097473 3302.63889441 2380.64957602 2622.46923816
 3293.46978793 2787.83424227 2910.22545184 2241.25670706 2992.87834534]

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

In [0]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_true, y_pred)
print(mse)

In [0]:
# preprocess test_set the same way
list of data

In [0]:
# run on test_set, put it back to CSV file